<!DOCTYPE html>
<html>
<head> 
    <title>Christopher Smith -- Software Developer</title>
</head>
<body>
    <h1> Christopher Smith -- Software Developer</h1>

<input type="submit" id="resume" value="See My Resume">
</body>
</html>

